 
// variables
$background-color: #f3f3f3;
$border-color: #eceff1;
$main-color: #D4633B;

$pink-color: #f94f63;
$red-color: #f94f63;
$yellow-color: #ff9d0a;
$blue-color: #2196F3;
$purple-color: #545bfd;
$brown-color: #4B1401;

$primary-color: #D4633B;
$green-color: #07c160;
$pink2-color: #FBF0E8;
$gray-color: #bdbdbd;

$border-radius: 11vw;

// 支付页面主题se
// $pay-primary-color: #ffaf0e;
$pay-primary-color: #D4633B;
